{% extends 'base_back_3.html.twig' %}

{% block title %}Edición de factura{% endblock %}

{% block body %}

    <div id="form">
        <h1>Edición de factura</h1>
        {{ include('invoice/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}
