{% extends 'base_back_2.html.twig' %}

{% block title %}Edició de factura{% endblock %}

{% block body %}

    <div id="form">
        <h1>Edició de factura</h1>
        {{ include('invoice/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}
