{% extends 'base_back_3.html.twig' %}

{% block title %}Invoice index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('equip3/css/Personal.css') }}">
{% endblock %}

{% block body %}

        <section class="contingut col-10">
            <h1>Lista de Facturas</h1>
            <div id="div-table" {{ vue_component('invoiceList_component', { 'invoices': invoices })}} ></div>

    <div class="navigation d-flex justify-content-center mt-3">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}