{% extends 'base.html.twig' %}

{% block title %}Edit PrivateCustomer{% endblock %}

{% block body %}
    <h1>Edit PrivateCustomer</h1>

    {{ include('private_customer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_private_customer_index') }}">back to list</a>

    {{ include('private_customer/_delete_form.html.twig') }}
{% endblock %}
