{% extends 'base_back_3.html.twig' %}

{% block title %}New Professional{% endblock %}

{% block body %}
    <h1>Create new Professional</h1>

    {{ include('professional/_form.html.twig') }}

{% endblock %}
