{% extends 'base.html.twig' %}

{% block title %}New Professional{% endblock %}

{% block body %}
    <h1>Create new Professional</h1>

    {{ include('professional/_form.html.twig') }}

    <a href="{{ path('app_professional_index') }}">back to list</a>
{% endblock %}
