{% extends 'base_back_3.html.twig' %}

{% block title %}Imatge{% endblock %}

{% block body %}
    <h1>Afegir imatges</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

