/* Estilo del contenedor de cada vehículo */
.vehicle {
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    transition: transform 0.3s ease-in-out; /* Agregué una transición suave al hover */
    background-color: #fff; /* Fondo blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 300px;
}

/* Estilo de la imagen */
.img-vehicle {
    height: 10rem;
}

/* Estilo del carrusel */
.carousel {
    height: 10rem;
}

/* Estilo de la imagen dentro del carrusel */
.carousel-inner img {
    height: 10rem;
    transition: transform 0.3s ease-in-out;
}


/* Estilo del nombre del vehículo */
.name-vehicle {
    color: #333; /* Color de texto más oscuro */
}

/* Estilo del contenedor de datos del vehículo */
.data-vehicle {
    background-color: #f9f9f9; /* Color de fondo más claro */
}

/* Aplica estilos al hover */
.vehicle:hover {
    transform: scale(1.05); /* Hace que el vehículo se agrande ligeramente al pasar el ratón sobre él */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hover */
}

.vehicle:hover .img-vehicle img {
    transform: scale(1.1); /* Hace que la imagen se agrande ligeramente al pasar el ratón sobre el vehículo */
}

/* Estilo del contenedor de datos del vehículo */
.des-vehicle {
    background-color: #fff; /* Fondo blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}



/* Estilo del precio del vehículo */
.price-vehicle {
    color: #cea12a; /* Color naranja para resaltar el precio */
}

/* Estilo de los kilómetros del vehículo */
.km-vehicle {
    color: #555; /* Color de texto más oscuro */
}

/* Agrega un borde superior al separar la descripción del vehículo de la imagen */
.des-vehicle::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #dcdcdc; /* Color del borde */
    margin: 10px 0; /* Espacio entre el borde y el  contenido */
}

.vehicle-add-button, .vehicle-details-button {
    background-color: #cea12a;
    color: white;
}




