@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

:root{
    --primary-color : #181d33ff;
    --secundary-color :#e7d381ff;
    --tertiary-color :#aa8e31ff;
    --quaternary-color :#e7e7e9;

    --primary-fontFamily :'DM Sans';

    /** Hover aside color */
    --hover-aside-color: rgb(194, 162, 56);

    /*Table*/
    --table-color:#d9d9da;

    /* Botons de taules backoffice*/
    --button-delete : #f44336;
    --button-edit : #008CBA;
    --button-details : #4CAF50;

    /* Hovers en els botons */
    --button-delete-hover : #8a1c24;
    --button-edit-hover : #004080;
    --button-details-hover : #388E3C;

    /* Botons generals */
    --button-normal: var(--secundary-color);
    --button-text: white;

    /* Botons generals hovers */
    --button-normal-hover: var(--tertiary-color);
}

.bg-primary-BHEC{
    background-color: var(--primary-color) !important;
}
.bg-secondary-BHEC{
    background-color: var(--secundary-color) !important;
}
.bg-tertiary-BHEC{
    background-color: var(--tertiary-color) !important;
}
.bg-quaternary-BHEC{
    background-color: var(--quaternary-color) !important;
}

.bg-fade-secondary-tertiary{
    background: rgb(131,58,180) !important;
    background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(231,211,129,1) 0%, rgba(170,142,49,1) 100%) !important;
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(231,211,129,1) 0%, rgba(170,142,49,1) 100%) !important;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(231,211,129,1) 0%, rgba(170,142,49,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#aa8e31",GradientType=1) !important;
}

.text-primary-BHEC{
    color:var(--primary-color);
}

.text-secondary-BHEC{
    color:var(--secundary-color);
}

.text-tertiary-BHEC{
    color:var(--tertiary-color);
}

.text-quaternary-BHEC{
    color:var(--quaternary-color);
}

.hover-tertiary:hover{
    color:var(--hover-aside-color);
}