/* Estils personalitzats per al catàleg */

.button-text-primary-BHEC{
    color: var(--button-text);
}

.button-primary-BHEC{
    background-color: var(--button-normal);
}

.button-primary-BHEC:hover{
    background-color: var(--button-normal-hover);
    color: var(--button-text);
}