{% extends 'base_3.html.twig' %}

{% block title %}Iniciar sessió{% endblock %}

{% block body %}
    <h2>Iniciar sessió</h2>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<div class="row">
    <form class="col-4 m-3" method="post" action="{{ path('app_login') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <label for="username">Nom d'usuari:</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>

        <label for="password">Contrasenya:</label>
        <input class="form-control" type="password" id="password" name="_password" required>

        <button class="btn btn-primary" type="submit">Iniciar sessió</button>
    </form>
</div>
{% endblock %}