{% extends 'base_3.html.twig' %}

{% block title %}Inici de sessió{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 my-5 d-flex justify-content-center">

                <div>
                    <div class="border border-black border-opacity-25 p-3 rounded-2 d-flex flex-column align-items-center">
                        <h2>Inicia sessió</h2>
                        <form method="post" action="{{ path('app_login') }}" class="m-4 fs-5 d-flex flex-column justify-content-center">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="my-2">
                                <label for="username" class="my-1">Usuari:</label>
                                <div class="position-relative">
                                    <input class="form-control border border-black border-opacity-25 ps-5" type="text"
                                           id="username"
                                           name="_username" required autofocus>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-person position-absolute top-50 translate-middle-y ms-3"
                                         viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                                    </svg>
                                </div>
                            </div>

                            <div class="my-2">
                                <label for="password" class="my-1">Contrasenya:</label>
                                <div class="position-relative" id="passwordController">
                                    <input class="form-control border border-black border-opacity-25 ps-5"
                                           type="password" id="password"

                                           name="_password" required
                                           data-action="click->password-toggle#togglePassword"
                                           data-target="password-toggle.icon">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-key position-absolute top-50 translate-middle-y ms-3"
                                         viewBox="0 0 16 16">
                                        <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
                                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                    </svg>
                                    <div id="hideEye">
                                        <i class='bi bi-eye position-absolute top-50 end-0 translate-middle-y me-3 small'></i>
                                    </div>
                                </div>
                            </div>
                            {% if error %}
                                <p class="alert alert-danger small py-2 my-2">Les credencials no són correctes</p>
                            {% endif %}
                            <button class="btn btn-primary mt-3" type="submit">Iniciar sessió</button>
                        </form>
                        <p>Si no tens un compter, <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="text-tertiary-BHEC hover-tertiary">Registra't
                                ací.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Eres una empresa?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!--<div {{ vue_component('PrivateCustomerNewFront_component') }}></div>-->
                    <a href="/register/company">Professional</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}