{% extends 'base_3.html.twig' %}

{% block title %}Iniciar sessió{% endblock %}

{% block body %}
    <div {{ vue_component('ProfessionalCustomerNew_component', { 'last_username': last_username, 'token': csrf_token('_token'), 'error':error }) }}></div>
{% endblock %}