{% extends 'base_3.html.twig' %}

{% block body %}
    <main class="container">
        <section>
            <div class="row">
                <h2 class="titulo">Procés de compra</h2>
                <hr>
                <div class="col-md-12 col-lg-6">
                    <div class="form-group">
                        <label for="document" class="my-2">Documentació</label>
                        <div class="input-group">
                            <select id="document" class="form-select input-group-prepend">
                                <option value="DNI">DNI</option>
                                <option value="NIE">NIE</option>
                                <option value="Passaport">Passaport</option>
                            </select>
                            <input type="text" id="documentNumber" class="form-control" placeholder="1345678X">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailInput" class="my-2">Email</label>
                        <input type="email" id="emailInput" class="form-control" placeholder="example@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="phoneInput" class="my-2">Mòbil</label>
                        <input type="tel" id="phoneInput" class="form-control" placeholder="123 45 67 89">
                    </div>
                </div>

                <div class="col-md-12 col-lg-6">
                    <label for="paymentMethod" class="my-2">Mètode de pagament</label>
                    <select id="paymentMethod" class="form-select">
                        <option value="PayPal">PayPal</option>
                        <option value="Visa">Visa</option>
                        <option value="MasterCard">MasterCard</option>
                    </select>
                    <div class="form-group">
                        <label for="nameInput" class="my-2">Nom</label>
                        <input type="text" id="nameInput" class="form-control" placeholder="Nom">
                    </div>

                    <div class="form-group">
                        <label for="lastNameInput" class="my-2">Cognoms</label>
                        <input type="text" id="lastNameInput" class="form-control" placeholder="Cognoms">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="form-group my-3">
                        <label for="addressInput" class="my-2">Afegir la direcció ací</label>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#direccioModal">
                            Afegir direcció
                        </button>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="form-group my-3">
                        <input type="checkbox" class="form-check-input" id="termsCheckbox"/>
                        <label class="form-check-label" for="termsCheckbox">Acceptar
                            <a href="#" target="_blank">termes i condicions d'ús.</a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="button d-flex justify-content-center my-3">
                        <form action="#">
                            <button class="btn btn-secondary">Cancel·lar</button>
                            <button type="submit" class="btn btn-primary">Següent</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="direccioModal" tabindex="-1" aria-labelledby="direccioModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="direccioModalLabel">Direcció</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="nameAddress">Nom</label>
                                <input type="text" class="form-control" id="nameAddress" placeholder="Juan">
                            </div>
                            <div class="form-group">
                                <label for="lastNameAddress">Cognoms</label>
                                <input type="text" class="form-control" id="lastNameAddress" placeholder="Moles">
                            </div>
                            <div class="form-group">
                                <label for="provinceAddress">Provincia</label>
                                <input type="text" class="form-control" id="provinceAddress" placeholder="Provincia">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="postalCode">Codi postal</label>
                                        <input type="text" class="form-control" id="postalCode" placeholder="03780">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="valuePostalCode">Ciutat</label>
                                        <input type="text" class="form-control" id="valuePostalCode" value="Pego">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="direction">Direcció</label>
                                <input type="text" class="form-control" id="direction"
                                       placeholder="Carrer Jesus de barqueta, 15">
                            </div>
                            <div class="form-group">
                                <label for="details">Pis i porta</label>
                                <input type="text" class="form-control" id="details" placeholder="Pis 2, porta 4">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                            Cancel·lar
                        </button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
