.section-vehicle-detail {
    background-color: #f9f9f9;
    padding: 40px;
}

.vehicle-detail-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.vehicle-detail-image {
    width: 40%;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.vehicle-detail-info {
    flex: 1;
}

.vehicle-detail-info h1 {
    font-size: 2.5em;
    margin: 0 0 15px 0;
    color: #333;
}

.vehicle-detail-info h3 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #d92e2e;
}

.vehicle-detail-info .detail {
    margin-bottom: 12px;
    color: #666;
}

.vehicle-detail-info .detail span {
    color: #333;
    font-weight: bold;
}

.vehicle-detail-info .add-to-order-button {
    background-color: #0184de;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.vehicle-detail-info .add-to-order-button:hover {
    background-color: #00a0ff;
}

.back-button button {
    background-color: #333;
    margin-bottom: 15px;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.back-button button:hover {
    background-color: #555;
}

/* Media query para pantallas más pequeñas */
@media only screen and (max-width: 992px) {
    .vehicle-detail-container {
        flex-direction: column;
        align-items: center;
    }

    .vehicle-detail-image {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}