@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

body {
    background-color: #e7e7e9ff;
    font-family: 'DM Sans', 'Courier New', Courier, monospace;
}

/*  ----------------------------------------------- NAV y HEADER -----------------------------------------------  */

header {
    background-color: rgb(24, 29, 52);
    font-family: 'DM Sans', 'Courier New', Courier, monospace;
}

#headerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    transition: .15s;
}

#logoAndNav {
    display: flex;
    align-items: center;
    height: 100%;
}

#logoAndNav > nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#logoAndNav > nav > ul > li {
    margin: 0 0.5em;
}

#logoAndNav > img {
    width: 50px;
}

.navLinks {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(231, 211, 129);
}

.navLinks:hover {
    color: rgb(170, 142, 49);
}

.navIcons {
    align-self: center;
    display: flex;
    justify-content: space-around;
    height: 100%;
    list-style: none;
}

.navIcons .icon {
    margin: 20px;
}

.navIcons > li {
    align-self: center;
}

.navIcons > li:hover {
    opacity: 50%;
}

#menu-desktop {
    display: flex;
    align-items: center;
}

#menu-mobile {
    display: none;
}

.ocultMenu {
    display: none;
    z-index: 1;
}

#burger {
    min-width: 20px;
    min-height: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

#burger > span {
    border-radius: 5px;
    background-color: rgb(170, 142, 49);
    width: 100%;
    height: 2px;
    transition: all 300ms ease-out;
}

#burger.active .line1 {
    opacity: 0;
    width: 0;
}

#burger.active .line2 {
    transform: translateY(100%) rotate(45deg);
}

#burger.active .line3 {
    transform: translateY(-150%) rotate(-45deg);
}

/*  ----------------------------------------------- ASIDE -----------------------------------------------  */

.aside {
    padding: 0%;
    background-color: #aa8e31;
    border: solid 1px;
}

#main-menu li {
    padding: 20% 10% 8% 0%;
    list-style: none;
    text-align: left;
    font-size: 1.2em;
    background-color: #8b7428;

}

#main-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

#main-menu li:hover {
    background-color: #8b7428
}

#main-menu .submenu-content {
    display: none;
    list-style: none;
    padding: 0;
}

#main-menu .submenu-content li {
    margin: 0.5em 0;
}

#main-menu .submenu-content a {
    color: #e7d381ff;
}

#main-menu .fas {
    margin-right: 0.5em;
color: white;
}

.fa-chevron-right {
    font-size: 12px;
    width: 15%;
}

/*  ----------------------------------------------- MAIN Y TABLA -----------------------------------------------  */

main h1 {
    font-size: 1.5em;
    text-align: center;
}

table, th, td {
    padding: 10px;
    font-size: 1em;
}

table {
    margin: 1% 0 5% 0;
    width: 100%;
    border-collapse: collapse;
}

th {
    color: white;
    background-color: #aa8e31;
}

tbody tr:hover, tbody tr:nth-child(even):hover {
    background-color: #c5c4c4;

}

td, th {
    border: 1px solid #e7d381ff;;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(212, 197, 147, 0.6);
}

#inputUsuario {
    margin-top: 1%;
}

.operaciones {
    display: flex;
    justify-content: space-around;
}

.operaciones a {
    margin-left: 10px;
    background-color: #a5a4a4;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.operaciones a:visited {
    color: black;
}

.operaciones a:focus {
    color: black;
}

/*  ----------------------------------------------- FOOTER Y MENU NAVEGACIÓ FOOTER -----------------------------------------------  */

footer {
    background-color: rgb(24, 29, 52);
    font-family: 'DM Sans', 'Courier New', Courier, monospace;
    padding: 1em 0;
}

.h2-title {
    color: rgb(231, 211, 129);
    font-family: 'Playfair', 'Courier New', Courier, monospace;
    margin: 0 .5em;
}

.footerLink {
    text-decoration: none;
    color: rgb(231, 211, 129);
    font-size: 1.2rem;
}

.footerLink:hover {
    color: rgb(170, 142, 49);
}

#logoAndName {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#logoAndName > img {
    width: 35px;
}

.separator {
    color: rgb(170, 142, 49);
}

#separator-div {
    margin: 1em 0;
}

/* --------------------------------------------------------------------- MODAL --------------------------------------------------------------------- */


/* Estilo del menú modal */
.menu-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #e7e7e9ff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    overflow-y: auto;
}

.menu-content {
    padding: 20px;
}

/* Estilo del botón de cierre y enlaces */
.close-button {
    float: right;
    font-size: 24px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.close-button:hover {
    color: #555;
}

.menu-links {
    list-style: none;
    padding: 0;
}

.menu-links li {
    margin-bottom: 10px;
}

/* Estilo de la imagen de perfil y detalles del usuario */
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-details h3 {
    margin: 0;
    font-size: 18px;
}

.user-details p {
    margin: 0;
    color: #777;
}

.dropdown-content {
    display: none;
    margin-top: 10px;
    padding-left: 20px;
}

.dropdown-content li {
    margin-bottom: 5px;
    list-style: none;
}

.menu-modal #div-sessio {
    margin: 20px;
    position: fixed;
    bottom: 0;
}

.menu-modal #tancar-sessio {
    list-style: none;
    margin-bottom: 10px;
}

.menu-modal a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-family: 'DM Sans';
}

.menu-modal a:hover {
    color: #555;
}

/* --------------------------------------------------------------------- MOVIL --------------------------------------------------------------------- */

@media (max-width: 770px) {

    #menu-desktop {
        justify-content: right;
    }

    #menu-mobile {
        display: flex;
        width: auto;
        order: 2;
        z-index: 2;
    }

    #logoAndNav {
        display: inline;
    }

    #pages {
        display: none;
    }

    .displayHambMenu {
        display: flex;
        width: 50%;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 76px;
        background-color: #aa8e31;
    }

    .navLinks {
        padding: 10px 15px;
    }

    aside {
        display: none;
    }
    .ocultMenuEs {
        display: none;
    }
    /* --------------------------------------------------------------------- TABLA MOVIL --------------------------------------------------------------------- */
    table {
        width: 100%;
    }

    table tr {
        display: flex;
        padding: 1em;
        margin-top: 1em;
        flex-direction: column;
        border: 1px solid rgb(143, 130, 76);
        background-color: rgb(212, 197, 147, 0.6);
    }

    table thead {
        display: none;
    }

    td {
        border: none;
        text-align: left;
    }

    table td[data-titulo] {
        display: flex;
        padding-top: 10px;

    }

    table td[data-titulo]:before {
        content: attr(data-titulo);
        width: 50%;
        font-weight: bold;
    }

    tr:hover, tr:nth-child(even):hover {
        background-color: rgb(212, 197, 147, 0.6);;

    }

    .seleccionar-fila {
        width: 8%;
        padding-left: 10px;
    }

    .seleccionar-fila:checked {
        width: 8%;

        td {
            background-color: #777;
        }
    }

    .operaciones {
        padding-top: 15px;
    }
}
