{% extends 'base_2.html.twig' %}

{% block title %}Política de privacitat{% endblock %}

{% block body %}
    <main>
        <h1>Política de privacitat</h1>
        <h2>Protecció de dades de caràcter personal segons la LOPDGDD</h2>
        <p>
            BHEC, en aplicació de la normativa vigent en matèria de protecció de dades de caràcter personal, informa que
            les dades personals que es recullen a través dels formularis del Lloc web i aquests s'inclouen en els
            fitxers automatitzats específics d'usuaris dels serveis de BHEC.
        </p>

        <p>
            La recollida i el tractament automatitzat de les dades de caràcter personal té com a finalitat el
            manteniment de la relació comercial i l'exercici de tasques d'informació, formació, assessorament i altres
            activitats pròpies de BHEC.Aquestes dades només seran cedides a aquelles entitats que siguen necessàries amb
            l'únic objectiu de donarcompliment a la finalitat anteriorment exposada.
        </p>
        <p>
            BHEC adopta les mesures necessàries per a garantir la seguretat, integritat i confidencialitat de les dades
            conforme al que disposa el Reglament (UE) 2016/679 del Parlament Europeu i del Consell, de 27 d'abril de
            2016, relatiu a la protecció de les persones físiques pel que fa al tractament de dades personals i a la
            lliure circulació d'aquestes.L'usuari podrà exercir en qualsevol moment els drets d'accés, oposició,
            rectificació i cancel·lacióreconeguts a l'esmentat Reglament (UE). L'exercici d'aquests drets el pot fer el
            mateix usuari a través de correu electrònic a: bhec@gmail.com o a l'adreça: Carrer Duanes, 17, 03780 Pego,
            Alacant.L'usuari manifesta que totes les dades facilitades per ell són certes i correctes, i es compromet a
            mantenir-lesactualitzats, comunicant els canvis a BHEC.
        </p>
        <h2>Finalitat del tractament de les dades personals:</h2>
        <p>
            Amb quina finalitat tractarem les teves dades personals?
            A BHEC, tractarem les teves dades personals demanades a través del Lloc Web amb les següents
            finalitats: </p>

        <ol>
            <li> En cas de contractació dels béns i serveis oferts a través de BHEC, per
                mantenir la relació contractual, així com la gestió, administració, informació, prestació i millora del
                servei.
            </li>

            <li>Enviament d'informació sol·licitada a través dels formularis disposats a BHEC.</li>
            <li>Remetre butlletins (newsletters), així com comunicacions comercials de promocions i/o publicitat de
                BHEC i del sector.
            </li>
        </ol>
        <p>
            Et recordem que et pots oposar a l'enviament de comunicacions comercials per qualsevol via i en qualsevol
            moment, remetent un correu electrònic a l'adreça indicada anteriorment.

            Els camps d'aquests registres són d'emplenament obligatori, i és impossible fer les finalitats expressades
            si no s'aporten aquestes dades.
        </p>
        <h2>Per quant de temps es conserven les dades personals recollides?</h2>
        <p>Les dades personals proporcionades es conservaran mentre es mantingui la relació comercial o no sol·liciteu
            la
            vostra supressió i durant el termini pel qual poguessin derivar-se responsabilitats legals pels serveis
            prestats.</p>
        <p> Legitimació:</p>

        <p>El tractament de les teves dades es realitza amb les bases jurídiques següents que legitimen el mateix:</p>

        <ol>
            <li>La sol·licitud d'informació i/o la contractació dels serveis de BHEC, els quals
                termes i condicions es posaran a la teva disposició en tot cas, prèviament a una eventual contractació.
            </li>

            <li> El consentiment lliure, específic, informat i inequívoc, mentre t'informem posant al teu
                disposició aquesta política de privadesa, que després de la lectura de la mateixa, en cas d'estar
                conforme, pots
                acceptar mitjançant una declaració o una clara acció afirmativa, com el marcatge d'una casella disposada
                al
                efecte.
            </li>
        </ol>
        <p>En cas que no ens facilitis les teves dades o ho facis de forma errònia o incompleta, no podrem atendre la
            teva
            sol·licitud, resultant del tot impossible proporcionar-te la informació sol·licitada o dur a terme la
            contractació dels serveis.</p>

        <h3>Destinataris:</h3>
        <p>Les dades no es comunicaran a cap tercer alié a BHEC, excepte obligació legal.</p>
        <p>Com a encarregats de
            tractament, tenim contractats els següents proveïdors de serveis, havent-secompromés al compliment de les
            disposicions normatives, d'aplicació en matèria de protecció de dades, en el moment de la seua
            contractació:</p>

        <ol>
            <li>Sebastian Stan, amb domicili aHogwarts, NIF/CIF núm. 123456789N, presta serveis de protecció de
                dades.
            </li>

            <li>Lee Jae-Wook, amb domicili aSeül, NIF/CIF núm. 123456777I, presta serveis de protecció de dades.</li>
        </ol>

        <h3>Dades recopilades per usuaris dels serveis:</h3>
        <p>En els casos en què l'usuari incloga fitxers amb dades de caràcter
            personal als servidors d'allotjamentcompartit, BHEC no es fa responsable de l'incompliment per part de
            l'usuari de l'RGPD.</p>
        <h2>Retenció de dades de conformitat amb la LSSI</h2>
        <p>BHEC informa que, com a prestador de servei d'allotjament de dades i
            en virtut del que estableix la Llei 34/2002 d'11 de juliol de Serveis de la Societat de la Informació i de
            Comerç Electrònic (LSSI), reté per un període màxim de dotze mesos la informació imprescindible per
            identificar
            l'origen de les dades allotjades i el moment en què es va iniciar la prestació del servei. La retenció
            d'aquestes dades no afecta el secret de les comunicacions i només es poden utilitzar en el marc d'una
            investigació criminal o per a la salvaguarda de la seguretat pública, posant-se a disposició dels jutges o
            tribunals o del Ministeri que així ho requerisca.</p>

        <p>La comunicació de dades a les Forces i Cossos de l'Estat es
            farà en virtut del que disposa la normativa sobre protecció de dades personals.</p>

        <h3>Drets propietat intel·lectual BHEC</h3>

        <p>BHEC és titular de tots els drets d'autor, propietat intel·lectual, industrial, “know how” i tots els altres
            drets tenen relació amb els continguts del lloc web i els serveis que s'hi ofereixen, així com dels
            programes
            necessaris per a la seva implementació i la informació relacionada.</p>

        <p> No es permet la reproducció, publicació i/o ús no estrictament privat dels continguts, totals o parcials,
            del
            lloc web sense el consentiment previ i per escrit.</p>

        <h2>Propietat intel·lectual del programari</h2>

        <p>L'usuari ha de respectar els programes de tercers posats a la seva disposició per BHEC, tot i ser gratuïts
            i/o
            de disposició pública.</p>

        <p>BHEC disposa dels drets d'explotació i propietat intel·lectual necessaris del programari.</p>

        <p>L'usuari no adquireix cap dret o llicència pel servei contractat, sobre el programari necessari per a la
            prestació del servei, ni tampoc sobre la informació tècnica de seguiment del servei, excepció feta dels
            drets i
            llicències necessaris per al compliment dels serveis contractats i únicament durant la durada dels
            mateixos.</p>

        <p>Per a tota actuació que excedeixi el compliment del contracte, l'usuari necessitarà autorització per escrit
            per
            part de BHEC, quedant prohibit a l'usuari accedir, modificar, visualitzar la configuració, estructura i
            fitxers
            dels servidors propietat de BHEC, assumint la responsabilitat civil i penal derivada de qualsevol incidència
            que
            es pogués produir als servidors i sistemes de seguretat com a conseqüència directa d'una actuació negligent
            o
            maliciosa per part seva.</p>

        <h2>Propietat intel·lectual dels continguts allotjats</h2>

        <p>Es prohibeix l'ús contrari a la legislació sobre propietat intel·lectual dels serveis prestats per
            BHEC i, en particular de:</p>

        <ul>
            <li> La utilització que resulte contrària a les lleis espanyoles o que infringisca els drets de tercers.
            </li>
            <li> La publicació o la transmissió de qualsevol contingut que, segons el parer de BHEC, resulte
                violent, obscé, abusiu, il·legal, racial, xenòfob o difamatori.
            </li>
            <li> Els cracs, números de sèrie de programes o qualsevol altre contingut que vulnere drets de la propietat
                intel·lectual de tercers.
            </li>
            <li>La recollida o utilització de dades personals d'altres usuaris sense el vostre consentiment exprés o
                contravenint
                el que disposa el Reglament (UE) 2016/679 del Parlament Europeu i del Consell, de 27 d'abril de 2016,
                relatiu a la protecció de les persones físiques pel que fa al tractament de dades personals i a la
                lliure
                circulació dels mateixos.
            </li>
            <li> La utilització del servidor de correu del domini i de les adreces de correu electrònic per a
                l'enviament de
                correu massiu no desitjat.
            </li>
        </ul>
        <p>L'usuari té tota la responsabilitat sobre el contingut del web, la informació transmesa i emmagatzemada, els
            enllaços d'hipertext, les reivindicacions de tercers i les accions legals en referència a propietat
            intel·lectual.</p>

        <h3>Drets de tercers i protecció de menors.</h3>

        <p>L'usuari és responsable respecte a les lleis i reglaments en vigor i les
        regles que tenen a veure amb elfuncionament del servei en línia, comerç electrònic, drets d'autor, manteniment
        de l'ordre públic, així com principis universals d'ús d'Internet.</p>

        <p>L'usuari indemnitzarà BHEC per les despeses que
        generés la imputació deBHEC en alguna causa la responsabilitat de la qual fos atribuïble a l'usuari,
        inclososhonoraris i despeses de defensa jurídica, fins i tot en cas d'una decisió judicial no
        definitiva.</p>

        <h2>Protecció de la informació allotjada</h2>

        <p>BHEC realitza còpies de seguretat dels continguts allotjats als
        seus servidors, sense, no obstant això, no es responsabilitza de la pèrdua o l'esborrament accidental de les
        dades per part dels usuaris. Igualmanera, no garanteix la reposició total de les dades esborrades pels usuaris,
        ja que les dades esmentades podrien haver estat suprimides o modificades durant el període del temps
            transcorregut des de l'última còpia de seguretat.</p>

        <p>Els serveis oferts, excepte els serveis específics de backup,
        no inclouen la reposició dels contingutsconservats a les còpies de seguretat fetes per BHEC, quan aquesta pèrdua
        siga imputable a l'usuari; en aquest cas, es determinarà una tarifa d'acord amb la complexitat i el volum de la
            recuperació, sempre prèvia acceptació de l'usuari.</p>

        <p>La reposició de dades esborrades només està inclosa en el preu
            del servei quan la pèrdua del contingut siga deguda a causes atribuïbles a BHEC. </p>

        <h2>Comunicacions comercials</h2>

        <p>En
        aplicació de la LSSI. BHEC no enviarà comunicacions publicitàries o promocionals per correu electrònic o un altre
        mitjà de comunicació electrònica equivalent que prèviament no hagueren estat sol·licitades o expressament
            autoritzades pels destinataris d'aquestes.</p>

        <p>En el cas d'usuaris amb què hi haja una relació contractual prèvia,
        BHEC sí que està autoritzat a l'enviament de comunicacions comercials referents a productes o serveis de BHEC que
            siguen similars als que inicialment van ser objecte de contractació amb el client.</p>

        <p>En tot cas, l'usuari, després
        d'acreditar-ne la identitat, podrà sol·licitar que no se li faça arribar més informació comercial a través dels
            canals d'Atenció al Client.</p>
    </main>

{% endblock %}
