{% extends 'base_back_2.html.twig' %}

{% block title %}Employee index{% endblock %}


{% block body %}

    <h1 class="text-center">Employee</h1>
    <div {{ vue_component('EmployeesList_component', { 'employees': employees, 'e':e }) }}></div>
    <div class="navigation d-flex justify-content-center mt-3 mb-3">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}