{% extends 'base_back_2.html.twig' %}

{% block title %}Employee index{% endblock %}


{% block body %}

    <h1>Employee</h1>
    <div {{ vue_component('EmployeesList_component', { 'employees': employees, 'e':e }) }}></div>

{% endblock %}