{% extends 'base_back_2.html.twig' %}

{% block title %}Employee index{% endblock %}


{% block body %}
    <div class="container-fluid">
    <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
    <h1 class="text-center mt-4">Employee</h1>
    <div {{ vue_component('EmployeesList_component', { 'employees': employees, 'e':e }) }}></div>
    </div>
    </div>
        <div class="col-1"></div>
    </div>
    <div class="navigation d-flex justify-content-center mt-3 mb-3">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}