<aside class="col-2 aside">
    <nav id="main-menu">
        <ul>
            <li class="submenu">
                <a href="#"><i class="fas fa-file-invoice"></i> Factures <i
                            class="fas fa-chevron-right"></i></a>
                <ul class="submenu-content">
                    <li><a href="/invoice_list.php">Visualitzar Factures</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="fas fa-users"></i> Clients <i class="fas fa-chevron-right"></i></a>
                <ul class="submenu-content">
                    <li><a href="#">Alta de Client</a></li>
                    <li><a href="#">Visualitzar Clients</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="fas fa-user-tie"></i> Empleats <i
                            class="fas fa-chevron-right"></i></a>
                <ul class="submenu-content">
                    <li><a href="#">Alta d'Empleat</a></li>
                    <li><a href="#">Visualitzar Empleats</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="fas fa-truck"></i> Proveïdors <i class="fas fa-chevron-right"></i></a>
                <ul class="submenu-content">
                    <li><a href="/provider_create.php">Alta Proveïdor</a></li>
                    <li><a href="/provider_list.php">Visualitzar Proveïdors</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="fas fa-shopping-cart"></i> Comandes <i
                            class="fas fa-chevron-right"></i></a>
                <ul class="submenu-content">
                    <li><a href="/order_list.php">Visualitzar Comandes</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="fas fa-car"></i> Vehicles <i class="fas fa-chevron-right"></i></a>
                <ul class="submenu-content">
                    <li><a href="/vehicle_create.php">Alta Vehicle</a></li>
                    <li><a href="/vehicle_list.php">Visualitzar Vehicles</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>
