<aside class="col-2 aside">
    <nav id="main-menu">
        <ul>
            <li class="submenu">
                <i class="fas fa-file-invoice"></i>
                <a href="{{ path('app_invoice_index')}}"> Factures

                </a>
            </li>
            <li class="submenu">
                <a href="">
                    <i class="fas fa-users"></i> Clients
                </a>
            </li>
            <li class="submenu">
                <a>
                    <i class="fas fa-user-tie"></i> Empleats
                </a>
            </li>
            <li class="submenu">
                <a href="{{ path('app_provider_index')}}">
                    <i class="fas fa-truck"></i> Proveidors
                </a>
            </li>
            <li class="submenu">
                <a href="{{ path('app_order_index')}}">
                    <i class="fas fa-shopping-cart"></i> Comandes
                </a>
            </li>
            <li class="submenu">
                <a href="{{ path('app_vehicle_index')}}">
                    <i class="fas fa-car"></i> Vehicles
                </a>
            </li>
        </ul>
    </nav>
</aside>