<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BackOffice{% endblock %}</title>

    {# <--- Estilos ---> #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}


    {% block javascripts %}
        {{ encore_entry_script_tags('app') }} {# Carga todos los componentes de VUE #}
    {% endblock %}
</head>

<body>
{% include '_header_back_3.html.twig' %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %}
{# Header #}

{# Secció de contingut principal #}
<main>
    <div class="container-fluid">
        <div class="row">
            {% include '_aside_back_3.html.twig' %} {# Aside de Back #}
            <article class="col-10">
                {% block body %}
                {% endblock %}
            </article>
        </div>
    </div>
</main>

{# Footer #}
{% include '_footer_back_3.html.twig' %}

</body>

</html>