{% extends 'base_2.html.twig' %}

{% block title %}Política de Cookies{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <div class="w-75">
                    <h1 class="text-center">Política de Cookies</h1>
                    <p>
                        Aquest lloc web utilitza cookies per a millorar l'experiència de l'usuari. En continuar navegant
                        per
                        aquest lloc, acceptes el nostre ús de cookies.
                    </p>
                    <h2>Què són les cookies?</h2>
                    <p>
                        Les cookies són xicotets arxius de text que s'emmagatzemen en el teu ordinador o dispositiu
                        mòbil quan visites un lloc web. S'utilitzen àmpliament perquè els llocs web funcionen, o funcionen de
                        manera més eficient, així com per a proporcionar informació als propietaris del lloc.
                    </p>
                    <h2>Com utilitzem les cookies?</h2>
                    <p>Utilitzem cookies per a diversos fins, incloent:</p>
                    <ul>
                        <li>Analitzar el trànsit del lloc i entendre com els visitants interactuen amb el nostre lloc.
                        </li>
                        <li>Personalitzar i millorar l'experiència de l'usuari.</li>
                        <li>Proporcionar funcionalitats de xarxes socials i analitzar el trànsit d'aquestes.</li>
                    </ul>
                    <h2>Tipus de cookies que utilitzem</h2>
                    <p>Les cookies utilitzades en el nostre lloc web poden ser:</p>
                    <ul>
                        <li><span class="fw-bold">Cookies estrictament necessàries:</span> Aquestes són essencials per
                            al funcionament
                            del nostre lloc web. No requereixen el teu consentiment.
                        </li>
                        <li><span class="fw-bold">Cookies d'analítica:</span> Utilitzem aquestes cookies per entendre
                            com els visitants
                            interactuen amb el lloc web, recopilant informació de forma anònima i amb finalitats
                            d'anàlisi.
                        </li>
                        <li><span class="fw-bold">Cookies de preferències:</span> Aquestes cookies permeten al lloc web
                            recordar
                            informació que canvia la forma en què el lloc es comporta o s'obre, com la teva preferència
                            de
                            llengua o la regió en què et trobes.
                        </li>
                        <li><span class="fw-bold">Cookies de tercers:</span> Aquestes cookies són proporcionades per
                            tercers, com ara
                            serveis d'anàlisi externs, publicitat o botons de compartir en xarxes socials.
                        </li>
                    </ul>
                    <h2>Com controlar les cookies?</h2>
                    <p>
                        Pots controlar i/o eliminar les cookies segons desitges. Per a més informació, visita
                        <a class="text-decoration-none text-tertiary-BHEC" href="https://www.aboutcookies.org/">aboutcookies.org</a>.
                        Pots eliminar totes les cookies ja
                        emmagatzemades en el teu ordinador i configurar la majoria dels navegadors perquè deixen
                        d'emmagatzemar-les. No obstant això, si ho fas, és possible que hages d'ajustar manualment
                        algunes
                        preferències cada vegada que visites un lloc i que algunes funcionalitats i serveis no funcionen
                        correctament.
                    </p>
                    <h2>Més informació sobre les cookies</h2>
                    <p>
                        Si desitges obtenir més informació sobre les cookies i com es fan servir, et recomanem que
                        revisis
                        la
                        política de privacitat del nostre lloc web. També pots contactar amb nosaltres per a qualsevol
                        pregunta
                        o preocupació relacionada amb les cookies o la privacitat de dades.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
