<div>
    <p class="display-6">Are you sure?</p>
    <div>
        <button type="submit" class="btn btn-success">Yes</button>
        <button type="button" class="btn btn-danger">No</button>
    </div>
    {{ dump(request) }}
</div>
