<!--{% block title %}Edit Provider{% endblock %}-->


{% block body %}
    <h1 class="fs-5">Editar Proveïdor</h1>

    {{ include('provider/_form.html.twig', {'button_label': 'Update'}) }}
    <button type="button" class="btn btn-secondary m-sm-5"><a href="{{ path('app_provider_index') }}"
                                                              class="fs-6 link-underline link-underline-opacity-0 text-white py-2">Torna
            enrere</a></button>

    <button class="button-text-primary-BHEC btn button-primary-BHEC m-5">{{ button_label|default('Guardar') }}</button>

    <!--{{ include('provider/_delete_form.html.twig') }}-->
{% endblock %}
