{% extends 'base_back_3.html.twig' %}

{% block title %}Nou proveïdor{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
    <h1>Crear un nou proveïdor</h1>
    </div>

    {{ include('provider/_form.html.twig') }}

    <a href="{{ path('app_provider_index') }}">back to list</a>
{% endblock %}
