{% extends 'base.html.twig' %}

{% block title %}Crear proveïdors{% endblock %}

{% block body %}
    <div class="container-xl container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center p-5">
                    <h1 class="text-center">Alta de proveïdors</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                {{ include('provider/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
