{% extends 'base_back_3.html.twig' %}

{% block title %}Crear proveïdors{% endblock %}

{% block body %}
    <div class="container-xl container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center p-5">
                    <h1 class="text-center">Alta de proveïdors</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                {{ include('provider/_form.html.twig') }}
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-secondary m-sm-5"><a href="{{ path('app_provider_index') }}"
                                                                  class="fs-6 link-underline link-underline-opacity-0 text-white py-2">Torna
                enrere</a></button>
        <button class="button-text-primary-BHEC btn button-primary-BHEC m-xl-5 mx-3  my-3 fs-6 py-2">{{ button_label|default('Guardar') }}</button>
    </div>
{% endblock %}
