{% extends 'base_back_3.html.twig' %}

{% block title %}Crear proveïdors{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center p-5">
    <h1>Alta de proveïdors</h1>
    </div>

    {{ include('provider/_form.html.twig') }}

    <a href="{{ path('app_provider_index') }}">back to list</a>
{% endblock %}
