{% extends 'base_2.html.twig' %}

{% block title %}Vehicle index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 px-4">

            <h1 class="text-center fm-secundary-BHEC" aria-label="Términos y Condiciones">Tèrminis i Condicions</h1>
            <div class="d-flex justify-content-center align-items-center flex-column py-4">
                <h2 class="fs-4">Benvingut a BHEC</h2>
                <p class="text-center">Aquests Termes i Condicions regeixen l'ús de BHEC i els serveis que oferim a
                    través de la nostra plataforma en línia (d'ara endavant, "Serveis"). En accedir o utilitzar els
                    nostres Serveis, accepteu aquests Termes en la seva totalitat. Si no esteu d'acord amb algun
                    d'aquests termes, si us plau, no utilitzeu els nostres Serveis.</p>
            </div>

            <div class="d-flex justify-content-center align-items-center flex-column">
                <div>
                    <h3 aria-label="Els nostres serveis" class="text-center">1. Els nostres serveis</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-quaternary-BHEC border-secundary-BHEC text-center"><a
                                    href="#registre" class="text-decoration-none text-black ">Registre de compte</a>
                        </li>
                        <li class="list-group-item bg-quaternary-BHEC border-secundary-BHEC text-center"><a
                                    href="#compres" class="text-decoration-none text-black ">Compres i vendes</a></li>
                        <li class="list-group-item bg-quaternary-BHEC border-secundary-BHEC text-center"><a
                                    href="#proprietat" class="text-decoration-none text-black ">Propietat
                                intel·lectual</a></li>
                        <li class="list-group-item bg-quaternary-BHEC border-secundary-BHEC text-center"><a
                                    href="#limitacio" class="text-decoration-none text-black ">Limitació de
                                responsabilitat</a></li>
                        <li class="list-group-item bg-quaternary-BHEC border-secundary-BHEC text-center"><a
                                    href="#limitacio" class="text-decoration-none text-black ">Enviaments</a></li>
                        <li class="list-group-item bg-quaternary-BHEC border-secundary-BHEC text-center"><a
                                    href="#limitacio" class="text-decoration-none text-black ">Política de
                                cancel·lació</a></li>
                        <li class="list-group-item bg-quaternary-BHEC border-secundary-BHEC text-center"><a
                                    href="#limitacio" class="text-decoration-none text-black ">Garantia</a></li>
                        <li class="list-group-item bg-quaternary-BHEC border-secundary-BHEC text-center"><a
                                    href="#limitacio" class="text-decoration-none text-black ">Política de
                                privacitat</a></li>
                    </ul>
                </div>

                <div id="registre" class="position-relative mt-4">
                    <h4 aria-label="Registre de compte">Registre de compte</h4>
                    <p>Per accedir a certes característiques dels nostres Serveis, és possible que hàgiu de
                        registrar-vos per obtenir un compte. En registrar-vos, accepteu proporcionar informació
                        precisa, completa i actualitzada sobre vosaltres mateixos segons ho sol·liciti el formulari
                        de registre. Sou responsable de mantenir la confidencialitat de la vostra contrasenya i de
                        totes les activitats que ocorrin al vostre compte.</p>
                    <div class="divLine lineColorGold" aria-hidden="true"></div>
                </div>

                <div id="compres" class="position-relative mt-4">
                    <h4 aria-label="Compres i vendes">Compres i vendes</h4>
                    <p>En realitzar una compra o venda a través de BHEC, accepteu complir amb totes les lleis i
                        regulacions aplicables. BHEC no és part de cap transacció entre compradors i venedors, i no
                        assumeix responsabilitat per la qualitat, seguretat o legalitat dels productes anunciats, la
                        veritat o exactitud de les descripcions, la capacitat de vendre o comprar, o la capacitat de
                        pagar o entregar.</p>
                    <div class="divLine lineColorGold" aria-hidden="true"></div>
                </div>

                <div id="proprietat" class="position-relative mt-4">
                    <h4 aria-label="Propietat intel·lectual">Propietat intel·lectual</h4>
                    <p>El contingut de BHEC, inclosos però no limitats a text, gràfics, logotips, imatges i
                        programari, està protegit per drets d'autor i altres lleis de propietat intel·lectual. No
                        podeu reproduir, distribuir, modificar o crear obres derivades del contingut de BHEC sense
                        el consentiment exprés per escrit de BHEC.</p>
                    <div class="divLine lineColorGold" aria-hidden="true"></div>
                </div>

                <div id="limitacio" class="position-relative mt-4">
                    <h4 aria-label="Limitació de responsabilitat">Limitació de responsabilitat</h4>
                    <p>En la màxima mesura permesa per la llei, BHEC no serà responsable davant vós o qualsevol
                        tercer per danys indirectes, incidentals, especials, conseqüencials o punitius, incloent,
                        sense limitació, danys per pèrdua de guanys, dades, ús, bona voluntat o altres pèrdues
                        intangibles, que sorgeixin de o estiguin relacionats de qualsevol manera amb el vostre ús
                        dels nostres Serveis.</p>
                    <div class="divLine lineColorGold" aria-hidden="true"></div>
                </div>

                <div id="enviament" class="position-relative mt-4">
                    <h4 aria-label="Enviaments">Enviaments</h4>
                    <p>Ens comprometem a gestionar els vostres enviaments amb la major cura i diligència. Tot i això, no
                        ens fem
                        responsables dels retards o errors ocasionats per factors aliens al nostre control, com ara
                        incidents en el
                        transport o aduanes.</p>
                    <div class="divLine lineColorGold" aria-hidden="true"></div>
                </div>

                <div id="cancelacio" class="position-relative mt-4">
                    <h4 aria-label="Política de cancel·lació">Política de cancel·lació</h4>
                    <p>Disposeu d'un termini de cancel·lació de les vostres comandes de [nombre de dies] dies des de la
                        data de
                        compra. Si desitgeu cancel·lar una comanda, si us plau, poseu-vos en contacte amb el nostre
                        servei d'atenció
                        al client.</p>
                    <div class="divLine lineColorGold" aria-hidden="true"></div>
                </div>

                <div id="garantia" class="position-relative mt-4">
                    <h4 aria-label="Garantia">Garantia</h4>
                    <p>Tots els productes comprats a través del nostre lloc web estan coberts per la nostra garantia de
                        [nombre de
                        mesos o anys] a partir de la data de compra. Si experimenteu algun defecte de fabricació, si us
                        plau, poseu-vos
                        en contacte amb nosaltres per a obtenir assistència.</p>
                    <div class="divLine lineColorGold" aria-hidden="true"></div>
                </div>

                <div id="privacitat" class="position-relative mt-4">
                    <h4 aria-label="Política de privacitat">Política de privacitat</h4>
                    <p>Respectem la vostra privacitat i protegim les vostres dades personals. Les vostres dades seran
                        utilitzades
                        exclusivament amb fins interns i no seran compartides amb tercers sense el vostre consentiment
                        explícit.</p>
                    <div class="divLine lineColorGold" aria-hidden="true"></div>
                </div>

                <div class="position-relative mt-4">
                    <p class="">Aquests Termes i Condicions constitueixen l'acord complet entre vós i BHEC pel que
                        fa al vostre ús dels nostres Serveis, reemplaçant qualsevol acord anterior o contemporani,
                        ja sigui oral o escrit, i qualsevol altre acord entre vós i BHEC amb relació a aquest tema.
                    </p>
                    <p class="">Gràcies per triar BHEC per a les vostres necessitats de vehicles d'alta gamma. Si
                        teniu alguna pregunta sobre aquests Termes i Condicions, no dubteu a contactar-nos.</p>
                </div>

            </div>

        </div>
    </div>
{% endblock %}
