{% extends 'base_2.html.twig' %}
{% block title %} Preferits {% endblock %}

{% block body %}
    <div class="row mb-5">
        <h2 class="py-3 text-center text-black">Preferits</h2>

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card mb-3">
                <img class="card-img-top" src="/equip2/img/vehicles/Tesla-ModelX.jpg" alt="tesla model X">
                <div class="card-body text-center">
                    <h5 class="card-title">Tesla Model X</h5>
                    <p class="card-text">4.238.900€</p>
                    <button class="btn bg-secondary-BHEC">M'agrada</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card mb-3">
                <img class="card-img-top" src="/equip2/img/vehicles/honda-civic.jpg" alt="honda civic">
                <div class="card-body text-center">
                    <h5 class="card-title">Honda Civic</h5>
                    <p class="card-text">5.400.00€</p>
                    <button class="btn bg-secondary-BHEC">M'agrada</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card mb-3">
                <img class="card-img-top" src="/equip2/img/vehicles/Ford-Mustang.jpg" alt="ford mustang">
                <div class="card-body text-center">
                    <h5 class="card-title">Ford Mustang</h5>
                    <p class="card-text">1.668.00€</p>
                    <button class="btn bg-secondary-BHEC">M'agrada</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card mb-3">
                <img class="card-img-top" src="/equip2/img/vehicles/ford-focus.jpg" alt="ford focus">
                <div class="card-body text-center">
                    <h5 class="card-title">Ford Focus</h5>
                    <p class="card-text">4.075.00€</p>
                    <button class="btn bg-secondary-BHEC">M'agrada</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card mb-3">
                <img class="card-img-top" src="/equip2/img/vehicles/chevrolet-malibu.jpg"
                     alt="chevrolet malibu">
                <div class="card-body text-center">
                    <h5 class="card-title">Chevrolet Malibu</h5>
                    <p class="card-text">3.628.00€</p>
                    <button class="btn bg-secondary-BHEC">M'agrada</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card mb-3">
                <img class="card-img-top" src="/equip2/img/vehicles/chevrolet-camaro.jpg"
                     alt="chevrolet camaro">
                <div class="card-body text-center">
                    <h5 class="card-title">Chevrolet Camaro</h5>
                    <p class="card-text">435.866€</p>
                    <button class="btn bg-secondary-BHEC">M'agrada</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card mb-3">
                <img class="card-img-top" src="/equip2/img/vehicles/BW-X5.jpg" alt="bmw x5">
                <div class="card-body text-center">
                    <h5 class="card-title">BMW x5</h5>
                    <p class="card-text">5.400.00€</p>
                    <button class="btn bg-secondary-BHEC">M'agrada</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card mb-3">
                <img class="card-img-top" src="/equip2/img/vehicles/audi-a4.jpg" alt="audi a4">
                <div class="card-body text-center">
                    <h5 class="card-title">Audi A4</h5>
                    <p class="card-text">5.400.00€</p>
                    <button class="btn bg-secondary-BHEC">M'agrada</button>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
