{% extends 'base_back_3.html.twig' %}

{% block title %}Edit Order{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Edit Order</h1>
        <div id="form" class="mt-4">
            {{ include('order/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
{% endblock %}
